---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build
permissions:
  contents: write

on:
  push:
    branches: ['main', 'renovate/**']
  pull_request:
    branches: ['main']

jobs:
  check-dist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: { token: '${{ secrets.GITHUB_TOKEN }}' }

      - name: Setup mise
        uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0

      - name: Install Dependencies
        run: npm ci

      - name: Build dist/
        run: npm run build

      - name: Push changes
        if: github.event_name == 'push'
        env:
          CI_COMMIT_AUTHOR: mr-borboto[bot]
          CI_COMMIT_MESSAGE: 'build: update dist'
          CI_COMMIT_EMAIL: 170036086+mr-borboto[bot]@users.noreply.github.com
        run: |
          if [ -z "$(git status --porcelain dist/)" ]; then
            echo "No changes to dist/"
            exit 0
          fi

          git config --local user.email "${{ env.CI_COMMIT_EMAIL }}"
          git config --local user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git add dist/
          git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push
