---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build
permissions:
  contents: write

on:
  push:
    branches: ['main', 'renovate/**']
  pull_request:
    branches: ['main']

jobs:
  check-dist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { token: '${{ secrets.GITHUB_TOKEN }}' }

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Install Dependencies
        run: npm ci

      - name: Build dist/
        run: npm run build

      - name: Push changes
        env:
          CI_COMMIT_AUTHOR: mr-borboto[bot]
          CI_COMMIT_MESSAGE: 'chore: update dist [skip ci]'
          CI_COMMIT_EMAIL: 170036086+mr-borboto[bot]@users.noreply.github.com
        run: |
          if [ -z "$(git status --porcelain dist/)" ]; then
            echo "No changes to dist/"
            exit 0
          fi

          git config --local user.email "${{ env.CI_COMMIT_EMAIL }}"
          git config --local user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git add dist/
          git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push
