---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Release
permissions: { contents: read }

on:
  schedule: [{ cron: '0 0 * * *' }]
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run mode (no actual release)'
        required: false
        default: false
        type: boolean
  push:
    branches: ['*']
    paths:
      - .github/workflows/release.yaml
      - action.yml
      - dist/index.js

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    if: github.repository_owner == 'mirceanton' # ? don't run on forks
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: '${{ secrets.BOT_APP_ID }}'
          private-key: '${{ secrets.BOT_APP_PRIVATE_KEY }}'

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          token: '${{ steps.app-token.outputs.token }}'

      - name: Generate Release Metadata
        id: release-metadata
        uses: ./
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          dry-run: ${{ inputs.dry-run == 'true' || github.event_name == 'push' }}
